:root, html.dark {
  --bg-hover-color: #f6f6f6;
  --el-color-primary: #0960bd;
  // --el-color-primary: #024799;
}

html.dark {
  --bg-hover-color: #242424;
}

.top {
  --menu-bg-color: var(--el-bg-color);
  --menu-text-color: var(--el-text-color-primary);
  --menu-text-active-color: var(--el-color-primary);
  --menu-bg-active-color: var(--el-color-primary);
}

html.dark.left, html.dark.mobile {
  --menu-bg-color: var(--el-bg-color);
  --menu-text-color: var(--el-text-color-primary);
  --menu-text-active-color: var(--el-color-primary);
  --menu-bg-sub-color: var(--el-bg-color);
  --menu-bg-active-color: var(--el-bg-color);
}
