{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:vue/vue3-recommended", "prettier"],
  "plugins": ["prettier"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    // 禁止使用未声明的变量，除非在注释中提及/*global */
    "no-undef": "off",
    // 禁止未使用的变量
    "no-unused-vars": "off",
    // 此规则要求组件名称始终是多字的，根组件除外，以及 Vue 提供的内置组件，例如 or .这可以防止与现有和未来的 HTML 元素发生冲突，因为所有 HTML 元素都是一个单词。
    "vue/multi-word-component-names": [
      "error",
      {
        "ignores": ["index"]
      }
    ],
    // 此规则报告传递的解构导致值失去反应性。
    "vue/no-setup-props-destructure": "off",
    // 此规则检查每个指令是否有效。v-for
    "vue/valid-v-for": "off",
    // 此规则报告具有和没有自定义组件的元素。v-forv-bind:key
    "vue/require-v-for-key": "off",
    // 此规则检测无效的 HTML 属性。
    "vue/valid-attribute-name": "off",
    // 禁止 v-for 指令或作用域属性的未使用变量定义
    "vue/no-unused-vars": "off",
    // 强制执行有效指令v-slot 此规则检查每个指令是否有效。v-slot
    "vue/valid-v-slot": "off",
    // 不允许不必要的<template>
    "vue/no-lone-template": "off"
  }
}
